SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=email address
SMTP_PASS="Your App Password"
SMTP_FROM=Email Address
SMTP_FROM_NAME="Attendance System"

# Database
DB_HOST=localhost
DB_PORT=3306
DB_NAME=studentdb
DB_USER=root
DB_PASS=
